APP_CONTAINER_NAME=axiom-prime
APP_IMAGE=axiom-prime:latest
APP_PORT=3000
TRAEFIK_HOST=mvp.exemplo.com.br
TRAEFIK_CERTRESOLVER=letsencrypt
TRAEFIK_NETWORK=proxy
HOST=0.0.0.0
HOSTNAME=0.0.0.0
NODE_ENV=production
